# AutoHotkey compiled scripts
*.exe

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Windows Folder config file
[Dd]esktop.ini

# Windows Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Temporary files
*.tmp
*.temp

# VS Code files
.vscode/
*.code-workspace

# Personal backup files
*.bak
